@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.passwordGBox{
    width: 50%;
    height: 70%;
    background-color: antiquewhite;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #190064;
    font-size: 40px;
}
p{
    text-align: center;
    color: #190064;
    font-family: "Poppins", sans-serif;
}
.textInput{
   display: block;
   margin: 0 auto;
   margin-top: 4rem;
   width: 60%;
   height: 50px;
   border-radius: 20px;
   border: none;
   font-size: 25px;
   text-align: center;
}
.slider{
    width: 20%;
    position: absolute;
    bottom: 300px;
    right: 570px;
    
}
label{
    color: #190064;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 300px;
    right: 960px;
}
.lengthDisplay{
    position: absolute;
    bottom: 260px;
    left: 470px;
    font-size: 20px;
}

.generatePassword{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border:none;
    font-size: 20px;
    background-color: #41a85f;
    position: absolute;
    right: 620px;
    bottom: 200px;
    cursor: pointer;
    transition: 0.6s;

}
.generatePassword:hover{
    background-color: #1a73e8;
    color: black;
}

@media screen and (min-width: 1000px) and (max-width: 1100px)
{
    .passwordGBox{
        width: 80%;
        height: 80%;
    }

    .lengthDisplay{
        top: 700px;
        left: 320px;
    }
    label{
        top: 650px;
        left: 300px;
    }
    .textInput{
        margin-top: 7rem;
    }
    p{
        margin-top: 5rem;
    }
    h1{
        margin-top: 6rem;
    }
    .slider{
        top: 670px;
        left: 450px;
        width: 20%;
        height: 20px;
    }
    .generatePassword{
        top: 800px;
        left: 370px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px)
{
    .passwordGBox{
        width: 70%;
    }
    .lengthDisplay{
        top: 780px;
        left: 410px;
    }
    label{
        top: 729px;
        left: 390px;
    }
    .textInput{
        margin-top: 9rem;
    }
    p{
        margin-top: 3rem;
    }
    h1{
        margin-top: 6rem;
    }
    .slider{
        top: 400px;
        left: 510px;
    }
    .generatePassword{
        top: 900px;
        left: 430px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1312px)
{
    .passwordGBox{
        width: 80%;
        height: 80%;
    }
    .lengthDisplay{
        top: 450px;
        left: 410px;
    }
    label{
        top: 400px;
        left: 390px;
    }
    .textInput{
        margin-top: 4rem;
    }
    p{
        margin-top: 3rem;
    }
    h1{
        margin-top: 4rem;
    }
    .slider{
        top: 450px;
        left: 510px;
        height: 20px;
    }
    .generatePassword{
        top: 530px;
        left: 470px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px)
{
    .passwordGBox{
        width: 70%;
    }
    .lengthDisplay{
        top: 780px;
        left: 360px;
    }
    label{
        top: 729px;
        left: 340px;
    }
    .textInput{
        margin-top: 9rem;
    }
    p{
        margin-top: 3rem;
    }
    h1{
        margin-top: 6rem;
    }
    .slider{
        top: 400px;
        left: 470px;
    }
    .generatePassword{
        top: 900px;
        left: 320px;
    }
}
@media screen and (min-width: 800px) and (max-width: 900px)
{
    .passwordGBox{
        width: 80%;
    }
    .lengthDisplay{
        top: 670px;
        left: 290px;
    }
    label{
        top: 620px;
        left: 280px;
    }
    .textInput{
        margin-top: 4rem;
    }
    p{
        margin-top: 3rem;
    }
    h1{
        margin-top: 6rem;
    }
    .slider{
        top: 470px;
        left: 430px;
    }
    .generatePassword{
        top: 800px;
        left: 250px;
    }
}
@media screen and (min-width: 700px) and (max-width: 800px)
{
    .passwordGBox{
        width: 80%;
    }
    .lengthDisplay{
        top: 600px;
        left: 220px;
    }
    label{
        top: 550px;
        left: 200px;
    }
    .textInput{
        margin-top: 5rem;
    }
    p{
        margin-top: 3rem;
    }
    h1{
        margin-top: 6rem;
        font-size: 35px;
    }
    .slider{
        top: 400px;
        left: 370px;
    }
    .generatePassword{
        top: 700px;
        left: 210px;
    }
}
@media screen and (min-width: 600px) and (max-width: 700px)
{
    .passwordGBox{
        width: 90%;
    }
    .lengthDisplay{
        top: 780px;
        left: 210px;
    }
    label{
        top: 729px;
        left: 200px;
    }
    .textInput{
        margin-top: 9rem;
    }
    p{
        margin-top: 3rem;
    }
    h1{
        margin-top: 6rem;
    }
    .slider{
        top: 400px;
        left: 310px;
    }
    .generatePassword{
        top: 900px;
        left: 170px;
    }
}
@media screen and (min-width: 500px) and (max-width: 600px)
{
    .passwordGBox{
        width: 90%;
        height: 90%;
    }
    .lengthDisplay{
        top: 450px;
        left: 120px;
    }
    label{
        top: 400px;
        left: 100px;
    }
    .textInput{
        margin-top: 3rem;
    }
    p{
        margin-top: 3rem;
        font-size: 15px;
    }
    h1{
        margin-top: 6rem;
        font-size: 24px;
    }
    .slider{
        top: 410px;
        left: 270px;
    }
    .generatePassword{
        top: 600px;
        left: 120px;
    }
}
@media screen and (min-width: 400px) and (max-width: 500px)
{
    .passwordGBox{
        width: 97%;
    }
    .lengthDisplay{
        top: 600px;
        left: 110px;
    }
    label{
        top: 550px;
        left: 90px;
    }
    .textInput{
        margin-top: 5rem;
        width: 80%;
    }
    p{
        margin-top: 3rem;
        font-size: 16px;
    }
    h1{
        margin-top: 6rem;
        font-size: 23px;
    }
    .slider{
        top: 590px;
        left: 230px;
        height: 20px;
        width: 30%;
    }
    .generatePassword{
        top: 670px;
        left: 100px;
        width: 200px;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px)
{
    .passwordGBox{
        width: 97%;
        height: 90%;
    }

    .lengthDisplay{
        top: 450px;
        left: 110px;
    }
    label{
        top: 400px;
        left: 100px;
    }
    .textInput{
        margin-top: 3rem;
        width: 95%;
    }
    p{
        margin-top: 3rem;
        font-size: 15px;
    }
    h1{
        margin-top: 6rem;
        font-size: 20px;
    }
    .slider{
        top: 450px;
        left: 190px;
        height: 20px;
        width: 30%;
        z-index: 2;
    }
    .generatePassword{
        top: 570px;
        left: 100px;
        width: 200px;
    }
}
@media screen and (min-width: 200px) and (max-width: 300px)
{
    .passwordGBox{
        width: 97%;
        height: 90%;
    }

    .lengthDisplay{
        top: 450px;
        left: 70px;
    }
    label{
        top: 400px;
        left: 50px;
    }
    .textInput{
        margin-top: 3rem;
        width: 95%;
        font-size: 20px;
    }
    p{
        margin-top: 3rem;
        font-size: 12px;
    }
    h1{
        margin-top: 6rem;
        font-size: 20px;
    }
    .slider{
        top: 420px;
        left: 170px;
        width: 30%;
        height: 20px;
        z-index: 2;
    }
    .generatePassword{
        top: 540px;
        left: 40px;
        width: 200px;
    }
}
@media screen and (min-width: 1023px) and (max-width: 1025px) and (min-height: 599px) and (max-height: 601px)
{
    .passwordGBox{
        width: 80%;
        height: 80%;
    }

    .lengthDisplay{
        top: 400px;
        left: 320px;
    }
    label{
        top: 350px;
        left: 300px;
    }
    .textInput{
        margin-top: 3rem;
    }
    p{
        margin-top: 3rem;
        font-size: 16px;
    }
    h1{
        margin-top: 3rem;
        font-size: 30px;
    }
    .slider{
        top: 380px;
        left: 450px;
        width: 20%;
        height: 20px;
    }
    .generatePassword{
        top: 460px;
        left: 350px;
    }
    
}


